<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>dev.siphion.services</string>

    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>/Users/siphion/dev/vb-kanban-modded/deploy/start.sh</string>
    </array>

    <key>RunAtLoad</key>
    <true/>

    <key>KeepAlive</key>
    <false/>

    <key>UserName</key>
    <string>root</string>

    <key>EnvironmentVariables</key>
    <dict>
        <key>HOME</key>
        <string>/Users/siphion</string>
        <key>USER</key>
        <string>siphion</string>
        <key>SUDO_USER</key>
        <string>siphion</string>
        <key>PATH</key>
        <string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    </dict>

    <key>StandardOutPath</key>
    <string>/usr/local/var/log/coredns/services-start.log</string>

    <key>StandardErrorPath</key>
    <string>/usr/local/var/log/coredns/services-start-error.log</string>
</dict>
</plist>
